body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #84fab0, #8fd3f4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}
